.container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.gutter {
    padding: unset;
}

@media screen and (max-width: 1030px) {
  .gutter {
    padding: 0 10px;
  }
}

.hero {
  margin: 0 0 50px;
}

.logo {
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  flex: 1;
}

.episodes {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.episode {
  margin-bottom: 30px;
  width: 100%;
}

.entry {
  padding: 10px;
  border: 1px solid black;
  box-shadow: 4px 4px 4px #eee;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.id {
  font-style: italic;
}

.title {
  font-size: 1.5rem;
}

.guests {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.guest {
  margin-bottom: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-right: 10px;
  vertical-align: middle;
}

.name {
  vertical-align: middle;
}

.transcription_section {
  margin-bottom: 1.5rem;
}

.transcription {
  font-size: 1.2rem;
}

.audio {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}
