on:
  pull_request:
    branches:
      - main

jobs:
  build:
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::423695832787:role/static-site-deploy-role
          aws-region: ap-northeast-1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          cache: pnpm
      - run: pnpm install
      - run: pnpm run build
      - run: aws s3 sync ./dist s3://static-site-unasuke-fm-0593cdfb --delete --dryrun
