on:
  push:
    branches:
      - main

jobs:
  build:
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::423695832787:role/static-site-deploy-role
          aws-region: ap-northeast-1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # 4.2.0
        with:
          version: 10
          cache: true
      - run: pnpm install
      - run: pnpm run build
      - run: aws s3 sync ./dist s3://static-site-unasuke-fm-0593cdfb --delete
      - run: aws cloudfront create-invalidation --distribution-id E3G47NBJ8FRVTF --paths "/*"
